title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0f0f, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6200;
    position: absolute;
    top: 0;
}

.form-container {
    background: #2d2d2d;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff6200;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background: #272727;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ff6200;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 4px 5px rgba(21, 21, 21, 0.1);
}

input[type="submit"]:hover {
    background: #303030;
}

select {
    cursor: pointer;
}

@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }
}

.hobby-item {
    padding-top: 15px;
    padding-bottom: 10px;
}

h3 {
    color: #ff8234;
    background-color: #373737;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(21, 21, 21, 0.1);
    margin-bottom: 10px;
}

.register-btn {
    color: #ff8234;
    background-color: #373737;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(21, 21, 21, 0.1);
    margin-bottom: 10px;
}

.success-message {
    color: #ff8234;
    background-color: #373737;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(21, 21, 21, 0.1);
    font-size: 40px;
}

.MrBeast {
    margin-left: 50px;
    border-radius: 2px;
    background-color: #ff6200;
    padding: 2px;
    padding-top: 5px;
}